@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

:root {
	--font-size: 20px;
	--radius: 10px;
	--accent-color: green;
	// --body-background-color: #fff;
	--body-background-color: #e0e0e0;
	--primary-bg-color: #f4f4f4;
	--border-bottom-color: #ccc;
	--shadow-color: rgb(199, 199, 199);
	--primary-font: "Nunito", sans-serif;
	--transition-duration: all 0.15s ease-in-out;
	--highlight-background-color: rgb(155, 244, 155);
}

* {
	margin: 0;
	padding: 0;
	user-select: none;
	box-sizing: border-box;
}

body {
	background-color: var(--body-background-color);
	font-family: var(--primary-font), sans-serif;
}

.App {
	width: 1200px;
	margin: 10px auto;
	position: relative;
	text-align: center;

	//Top panel choice menu
	.header {
		display: flex;
		padding: 10px 20px;
		margin-top: 1.5rem;
		align-items: center;
		justify-content: space-around;
		background-color: var(--primary-bg-color);
		border-radius: var(--radius) var(--radius) 0 0;
		border-bottom: 2px solid var(--border-bottom-color);
		.nav_item {
			width: 50px;
			height: 50px;
			position: relative;
			border-radius: 12px;
			& svg {
				opacity: 0.7;
				cursor: pointer;
				border: 3px solid transparent;
				stroke: var(--accent-color);
				transition: var(--transition-duration);
				&:hover {
					opacity: 1;
					fill: var(--accent-color);
				}
				&:active {
					transform: scale(0.8);
					border-radius: 12px;
				}
			}
		}
	}

	// Metrics  component
	.top-bar {
		border: 1px solid brown;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--primary-bg-color);
		border-radius: 0 0 10px 10px;
		border-bottom: 2px solid var(--border-bottom-color);

		.user-stats {
			padding: 5px;
			width: 100%;
			height: auto;

			.open_letters {
				display: flex;
				align-items: center;
				margin: 5px 0;
				width: 86%;
				height: 70px;

				.text_letter {
					display: flex;
					align-items: center;
					justify-content: right;
					font-size: 20px;
					width: 10%;
					height: 100%;
				}
				.letters {
					width: 100%;
					height: 100%;
					margin-left: 10px;
					display: flex;
					align-items: center;
					gap: 5px;
					flex-wrap: wrap;
					font-size: var(--font-size);

					& .characters {
						width: 29px;
						height: 29px;
						padding: 2px 8px;
						list-style: none;
						position: relative;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						border-radius: 0 10px;
						transition: var(--transition-duration);

						&.show {
							color: black;
							border: 2px solid rgb(1, 209, 1);
							background-color: var(--highlight-background-color);
						}
						&.hidden {
							color: black;
							background-color: gray;
							&::after {
								content: "";
								left: 0;
								top: 45%;
								width: 100%;
								height: 1px;
								position: absolute;
								transform-origin: center;
								transform: rotate(-50deg);
								background-color: black;
							}
						}
					}
				}
				.language_choice {
					top: 10px;
					left: 96%;
					position: absolute;
					& svg {
						width: 35px;
						height: 35px;
						padding: 3px;
						border-radius: 50%;
						transition: all 0.1s ease-in-out;
						&:hover {
							transform: scale(1.2);
							box-shadow: 0px 0px 15px 0.2px var(--shadow-color);
						}
						&:active {
							box-shadow: none;
							transform: scale(1);
						}
					}
				}
			}
			.type_speed {
				display: flex;
				align-items: center;
				margin: 5px 0;

				.text_speed {
					width: 7.8%;
					height: 100%;
					font-size: 20px;
					display: flex;
					align-items: center;
					justify-content: right;
				}
				.speed_goal {
					font-size: var(--font-size);
				}
				.value_speed {
					margin: 0 10px;
					font-size: var(--font-size);
				}
				.progress-indicator_en {
					margin-left: 10px;
					width: 77.2%;
					height: 7px;
					border-radius: 10px;
					border: 1px solid var(--accent-color);
					.process {
						background-color: var(--accent-color);
						transition: all 0.2s ease-in-out;
					}
				}
				.progress-indicator_ru {
					height: 7px;
					width: 74.3%;
					border-radius: 10px;
					border: 1px solid var(--accent-color);
					.process {
						background-color: var(--accent-color);
						transition: all 0.2s ease-in-out;
					}
				}
			}
			.accyracy {
				display: flex;
				align-items: center;
				.text_accyracy {
					margin-top: 0;
					margin-left: 9px;
					margin-right: 15px;
					font-size: var(--font-size);
				}
				.value_accyracy {
					margin: 0 10px;
					font-size: var(--font-size);
				}
				.value_goal_accyracy {
					font-size: var(--font-size);
				}
				.progress-indicator_en {
					height: 7px;
					width: 76.8%;
					border-radius: 10px;
					border: 1px solid var(--accent-color);
					.process {
						background-color: var(--accent-color);
						transition: all 0.2s ease-in-out;
					}
				}
				.progress-indicator_ru {
					height: 7px;
					width: 73.2%;
					border-radius: 10px;
					border: 1px solid var(--accent-color);
					.process {
						transition: all 0.2s ease-in-out;
						background-color: var(--accent-color);
					}
				}
			}
			.dayly_goal {
				display: flex;
				align-items: center;
				font-size: var(--font-size);
				.text_goal {
					margin-top: 0;
					margin-right: 15px;
				}
				.progress-indicator_en {
					width: 76.8%;
					height: 7px;
					border-radius: 10px;
					border: 1px solid var(--accent-color);
					.process {
						background-color: var(--accent-color);
					}
				}
				.progress-indicator_ru {
					width: 73.2%;
					height: 7px;
					border-radius: 10px;
					border: 1px solid var(--accent-color);
					.process {
						background-color: var(--accent-color);
					}
				}
				.value_progress {
					margin: 0 10px;
				}
			}
		}
	}

	// Choice language component
	// .choice_languages {
	// 	left: 5rem;
	// 	top: -2rem;
	// 	padding: 10px;
	// 	display: flex;
	// 	position: absolute;
	// 	border-radius: 10px;
	// 	background-color: var(--primary-bg-color);
	// 	.english,
	// 	.russian {
	// 		display: flex;
	// 		padding: 0 2px;
	// 		align-items: center;
	// 		flex-direction: column;
	// 		justify-content: center;
	// 	}
	// 	& svg {
	// 		padding: 5px;
	// 	}
	// }

	// Typing text component
	.text_to_type {
		padding: 3rem;
		height: 400px;
		margin-top: 2rem;
		text-align: left;
		position: relative;
		font-size: var(--font-size);
		border-radius: 10px;
		background-color: var(--primary-bg-color);
		border-bottom: 2px solid var(--border-bottom-color);
		.text {
			font-weight: bold;
			color: rgb(96, 96, 96);
			.text_en {
				font-size: 1.5rem;
			}
			.text_ru {
				font-size: 1.5rem;
			}
		}
		.start_typing {
			top: 35%;
			left: 35%;
			opacity: 0.7;
			font-size: 5rem;
			position: absolute;
			transition: all 0.1s ease-in-out;
			&:hover {
				opacity: 1;
				border-bottom: 5px solid rgb(96, 96, 96);
			}
			&:active {
				transform: scale(0.8);
			}
		}
	}

	// Keyboard component
	.keyboard {
		gap: 5px;
		padding: 3rem;
		display: flex;
		margin-top: 2rem;
		align-items: center;
		flex-direction: column;
		font-size: var(--font-size);
		border-radius: 10px;
		background-color: var(--primary-bg-color);
		border-bottom: 2px solid var(--border-bottom-color);
		.keyboard_border {
			gap: 5px;
			opacity: 0.7;
			display: flex;
			flex-direction: column;
			.key-row {
				gap: 5px;
				display: flex;
				.key {
					width: 60px;
					height: 60px;
					display: flex;
					font-weight: bold;
					user-select: none;
					position: relative;
					text-align: center;
					align-items: center;
					pointer-events: none;
					flex-direction: column;
					justify-content: center;
					font-size: var(--font-size);
					border-radius: 10px;
					border: 3px solid transparent;
					color: var(--primary-bg-color);
					box-shadow: 0px 0px 15px 5px var(--shadow-color);
				}
				.active_keys {
					opacity: 2;
					color: black;
					transform: scale(0.97);
					border: 3px solid black;
				}
				.shift-key {
					top: 5px;
					right: 10px;
					opacity: 0.7;
					font-size: 15px;
					position: absolute;
				}
				.touch-finger {
					top: 29%;
					font-size: 2rem;
					position: absolute;
				}
				.main-key {
					top: 20px;
					left: 10px;
					font-size: 18px;
					position: absolute;
				}
				.backspace {
					width: 8.7rem;
				}
				.capslock {
					width: 7rem;
				}
				.tab {
					width: 6.2rem;
				}
				.enter {
					width: 9.4rem;
				}
				.shift {
					width: 10.2rem;
				}
				.space {
					width: 27.3rem;
				}
			}
		}
	}

	// Profile page
	.profile_page {
		height: auto;
		display: flex;
		padding: 2rem;
		margin-top: 2rem;
		position: relative;
		border-radius: 15px;
		padding-bottom: 10px;
		flex-direction: column;
		background-color: var(--primary-bg-color);
		border-bottom: 2px solid var(--border-bottom-color);
		.profile_manage {
			top: 15px;
			right: 15px;
			position: absolute;
			transition: all 0.1s ease-in-out;
			&:hover {
				color: red;
				transform: scale(1.2);
			}
			&:active {
				transform: scale(0.8);
			}
		}
	}

	//Speed page
	.speed_test_page {
		height: auto;
		display: flex;
		padding: 2rem;
		margin-top: 2rem;
		position: relative;
		border-radius: 15px;
		padding-bottom: 10px;
		flex-direction: column;
		background-color: var(--primary-bg-color);
		border-bottom: 2px solid var(--border-bottom-color);
		.close_window {
			top: 15px;
			right: 15px;
			position: absolute;
			&:hover {
				color: red;
				transform: scale(1.2);
			}
			&:active {
				transform: scale(0.8);
			}
		}
	}

	//Setting page
	.settings_page {
		height: auto;
		display: flex;
		padding: 2rem;
		margin-top: 2rem;
		position: relative;
		border-radius: 15px;
		padding-bottom: 10px;
		flex-direction: column;
		background-color: var(--primary-bg-color);
		border-bottom: 2px solid var(--border-bottom-color);
		.close_window {
			top: 15px;
			right: 15px;
			position: absolute;
			transition: all 0.1s ease-in-out;
			&:hover {
				color: red;
				transform: scale(1.2);
			}
			&:active {
				transform: scale(0.8);
			}
		}

		.settings_page_choice_menu {
			display: flex;
			flex-direction: column;

			.letters_choice,
			.numbers_choice,
			.language_choice,
			.daily_goal_choice,
			.punctuation_marks_choice,
			.typing_text_length_choice,
			.target_typing_speed_choice {
				border-bottom: 1px solid #b9b9b9;
				background-color: #ededed;
				border-radius: 10px;
				padding: 5px;
				display: flex;
				align-items: center;
				height: 80px;
				margin-bottom: 10px;

				.letters_choice_text,
				.numbers_choice_text,
				.language_choice_text,
				.daily_goal_choice_text,
				.punctuation_marks_choice_text,
				.typing_text_length_choice_text,
				.target_typing_speed_choice_text {
					width: 15%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: right;
					font-size: 1.3rem;
				}

				.language_choice_input {
					padding: 5px 5px 5px 13px;
					display: flex;
					align-items: center;
					width: 80%;
					height: 100%;

					.language_choice_svg {
						margin: 2px;
						padding: 3px 4px;
						border: 3px solid transparent;
					}

					.active_flag_svg {
						border-radius: 0 15%;
						border: 3px solid rgb(1, 209, 1);

						& svg:hover {
							transform: none;
							box-shadow: none;
						}
					}

					& svg {
						padding: 0 5px;
						width: 50px;
						height: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}

				.letters_choice_characters,
				.numbers_choice_characters,
				.punctuation_choice_characters {
					gap: 0 5px;
					margin: 5px 15px;
					display: inline-flex;
					flex-wrap: wrap;
					align-items: center;
					font-size: var(--font-size);
					width: 80%;
					height: 100%;
					& span {
						width: 29px;
						height: 29px;
						padding: 2px 8px;
						list-style: none;
						position: relative;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						border-radius: 0 10px;
						transition: var(--transition-duration);
					}
					._show {
						border: 2px solid rgb(1, 209, 1);
						background-color: var(--highlight-background-color);
					}
					._unshow {
						border: 2px solid rgb(117, 117, 117);
						background-color: #e4e4e4;
					}
				}

				.daily_goal_choice_value,
				.typing_text_length_choice_value,
				.target_typing_speed_choice_value {
					padding: 5px 15px;
					align-items: center;
					width: 67%;
					height: 100%;
					display: flex;
					justify-content: left;
					align-items: center;

					#daily_goal_volume {
						width: 100%;
						height: 2px;
					}
				}
				.daily_goal_choice_minutes,
				.typing_text_length_choice_letters,
				.target_typing_speed_choice_l-m {
					font-size: 1.3rem;
				}
			}
		}
		.setting_manage {
			display: flex;
			margin-top: auto;
			margin-top: 5rem;
			align-items: flex-end;
			justify-content: center;
			justify-content: space-between;
			.save,
			.delete {
				padding: 5px;
				width: 10rem;
				font-size: var(--font-size);
				border-radius: 0px 10px;
				transition: all 0.1s ease-in-out;
				border: 2px solid rgb(1, 209, 1);
				background-color: var(--highlight-background-color);
			}
			.save {
				&:hover {
					border: 2px solid green;
					color: var(--background-color);
					background-color: rgb(3, 212, 3);
				}
				&:active {
					transform: scale(0.9);
				}
			}
			.delete {
				&:hover {
					opacity: 0.7;
					border: 2px solid red;
					color: var(--background-color);
					background-color: rgba(212, 3, 3);
				}
				&:active {
					transform: scale(0.9);
				}
			}
		}
	}

	//User Sing Up page
	.user_sing_up_page {
		height: auto;
		display: flex;
		padding: 2rem;
		margin-top: 2rem;
		position: relative;
		border-radius: 15px;
		padding-bottom: 10px;
		flex-direction: column;
		background-color: var(--primary-bg-color);
		border-bottom: 2px solid var(--border-bottom-color);
		.close_window {
			top: 15px;
			right: 15px;
			position: absolute;
			&:hover {
				color: red;
				transform: scale(1.2);
			}
			&:active {
				transform: scale(0.8);
			}
		}
	}
}
